@import "./sidebar.css";
@import "./map.css";
@import "./utilities.css";

/* --- CONFIGURATION GLOBALE --- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  overflow: hidden; /* Empêche le scroll sur toute la page */
}

/* Conteneur principal qui sépare Carte (gauche) et Sidebar (droite) */
#app-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#map-container {
    flex: 1; /* Prend tout l'espace restant à gauche de la sidebar */
    display: flex;
    flex-direction: column; /* Empile Map + Histogramme verticalement */
    height: 100%;
}
