#map-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
  z-index: 10;
  background: rgba(255, 255, 255, 0.85);
  padding: 8px 25px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  white-space: nowrap;
}

/* --- ZONE DE LA CARTE --- */
#map-container {
    flex-grow: 1;
    position: relative;
    background-color: #f0f2f5;
    /* On enlève le display: flex et la direction column */
    overflow-y: auto; /* Permet le scroll vertical uniquement ici */
    height: 100vh;    /* Prend toute la hauteur de l'écran */
}

#map {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 2; /* La carte prend environ 2/3 de la hauteur */
  position: relative;
  justify-content: center;
  align-items: center;
}

svg {
  background: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  display: block;
}

path {
  cursor: pointer;
  transition: fill 0.2s, opacity 0.3s;
  vector-effect: non-scaling-stroke; /* Garde les bordures fines au zoom */
}

/* --- LÉGENDE MAP --- */
.legend-group text {
  font-family: sans-serif;
  fill: #502c2c;
}

#histogram-section {
    flex: 1; /* L'histogramme prend le 1/3 restant */
    background: white;
    border-top: 2px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#histogram-container {
    width: 100%;
    height: 100%; /* D3.js utilisera cet espace pour dessiner */
}

#histogram-alti-section {
    flex: 1; 
    background: white;
    border-top: 2px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#histogram-alti-container {
    width: 100%;
    height: 100%; 
}

#histogram-surf-section {
    flex: 1; 
    background: white;
    border-top: 2px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#histogram-surf-container {
    width: 100%;
    height: 100%; 
}