#map-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
  z-index: 10;
  background: rgba(255, 255, 255, 0.85);
  padding: 8px 25px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  white-space: nowrap;
}

/* --- ZONE DE LA CARTE --- */
#map-container {
  flex-grow: 1; /* Prend tout l'espace restant à gauche */
  position: relative;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  background: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  display: block;
}

path {
  cursor: pointer;
  transition: fill 0.2s, opacity 0.3s;
  vector-effect: non-scaling-stroke; /* Garde les bordures fines au zoom */
}

/* --- LÉGENDE MAP --- */
.legend-group text {
  font-family: sans-serif;
  fill: #502c2c;
}